@{
    ViewBag.Title = "Банк";
}

<div class="container">
    <div class="card">
        <h1 class="card-title">Hello it's lab5!</h1>
        <div class="card">
            <p> API used for currency conversion: 
                <a href="https://www.currencyconverterapi.com/">
                    <button class="btn btn-link">Link</button>
                </a> 
            </p>
        </div>
    </div> 
</div>
   